body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;
	width: 80%;
	font-family: "source sans pro", sans-serif;
}

h2 {
	color: rgba(44,62,80,0.75);
	font-size: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(44,62,80,0), rgba(44,62,80,0.75), rgba(44,62,80,0));
	margin-bottom: 20px;
}

p:nth-of-type(1) {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.post {
	margin-bottom: 20px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}




